* {
    font-family: optima, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hides question text and options-buttons on screen when page first loads before start-quiz-button is clicked */
.hidden {
    display: none;
}

.container {
    box-shadow: 0 2px 9px 3px rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    background-color: rgb(194, 176, 70);
    width: 100%;
    max-width: 400px;
    margin: 50px auto 50px;
    padding: 27px;
    border-radius: 25px;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


header {
    background: radial-gradient(circle,
    rgb(194, 176, 70) 0%, darkgreen 100%);
    font-size: 50px;
    padding-bottom: 40px;
    text-align: center;
}

#strt-btn {
    font-size: 30px;
    font-weight:bold;
    background: radial-gradient(circle,
    rgb(194, 176, 70) 0%, darkgreen 100%);
    padding: 15px;
    margin: 25px auto;
    margin-top: 35px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#strt-btn:hover {
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
    background: radial-gradient(circle,
    darkgreen 0%,  rgb(194, 176, 70) 100%);
}

.btn {
    display: flex;
    flex-wrap: wrap;
    background: white;
    color: black;
    cursor: pointer;
    width: 350px;
    max-width: 800px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    border-radius: 30px;
    text-align: start;
}

.btn:hover {
    background: rgb(187, 185, 185);
    color: rgb(0, 0, 0);
}

/* #nxt-btn {
    background: radial-gradient(circle,
    rgb(194, 176, 70) 0%, darkgreen 100%);
    padding: 15px;
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    display: block;
} */

/* #nxt-btn:hover {
    background: radial-gradient(circle,
    darkgreen 0%,  rgb(194, 176, 70) 100%);
} */

aside {
    box-shadow: 0 2px 9px 3px rgba(0,0,0,1);;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(194, 176, 70);
    margin: 50px auto 50px;
    padding: 27px;
    border-radius: 25px;
}
.card-timer #timer-count {
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}

h2 {
    background: radial-gradient(circle,
    rgb(194, 176, 70) 0%, darkgreen 100%);
    font-size: 26px;
    max-width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    justify-content: center;
    
} 

#question {
    padding-bottom: 25px;
    font-size: 26px;
    margin: 25px auto;
}

.save-score {
    margin: auto;
    margin-right: 50%;
    display: flex;
    flex-direction: column ;
    

}

#save-scr-btn {
    background: radial-gradient(circle,
    rgb(194, 176, 70) 0%, darkgreen 100%);
    font-size: 20px;
    font-weight: bold;
}
#save-scr-btn:hover {
    opacity: 90%;
    cursor: pointer;
}

footer {
    text-align: center;
}

@media(min-width:300px) {
    

}